/* CSS declarations go here */

.video {
    position: absolute;
    
    height: 480px;
    width: 800px;
    
}

.archive-video{
    z-index: 2;
}

.new-video{
    z-index: 3;
    opacity: 0.5;
}

#slider-area {
    position: absolute;
    margin: 10px;
    top: 500px;
    
    z-index: 4;
}